.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    height: 60px;
    background-color: #000;

    div {
        padding-right: 15px;
        padding-left: 15px;

        p {
            margin: 19px 0;
            color: #c1c1c1;

            a {
                color: inherit;
            }
        }
    }
}
